.quizzes {
  padding: var(--spacing-3xl) 0 0;
  position: relative;
}

.quizzes_empty{
  display:flex;
  align-items: center;
  justify-content: center;
}

.quizzes__title {
  font-size: var(--font-size-h1);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-base);
  color: var(--color-text);
  margin-bottom: var(--spacing-md);
  align-self: flex-start;
}

.quizzes__subtitle {
  color: var(--color-text-secondary);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-normal);
}

.quizzes__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;  
  gap: var(--grid-gutter-desktop);
  margin-bottom: var(--spacing-2xl);
}

.quizzes__empty {
  display:flex;
  flex-direction: column;
  max-width:752px;
  width:100%;

}

.quizzes__empty-title {
  font-size: var(--font-size-h1) ;
  color: var(--color-text);
  margin-bottom: var(--spacing-xs);
}

.quizzes__empty-text {
  color: var(--color-text-secondary);
  margin-bottom: var(--spacing-lg);
}

.quizzes__empty-button {
  display: inline-block;
  background-color: var(--color-primary);
  
  padding: var(--spacing-xs) var(--spacing-base);
  border-radius: var(--border-radius-sm);
  transition: opacity var(--transition-fast);
  text-align: center;
}

.quizzes__empty-button:hover {
  opacity:0.85;
}

.quizzes__empty-link{
  width:100%;
  height: 100%;
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-medium);
  color: white;
}

/* Quiz Card */
.quiz-card {
  background-color: var(--color-surface);
  border-radius: var(--border-radius-lg);
  box-shadow: var(--shadow-base);
  padding: var(--spacing-base);
  display: flex;
  flex-direction: column;
  height: 100%;
}

.quiz-card__content {
  margin-bottom: var(--spacing-base);
  flex-grow: 1;
}

.quiz-card__title {
  color: var(--color-text);
  margin-bottom: var(--spacing-xs);
  font-size: var(--font-size-h3);
  line-height: var(--line-heigth-sm);
  font-weight: var(--font-weight-semibold);
}

.quiz-card__description {
  color: var(--color-text-secondary);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-normal);
  line-height: var(--line-height-base);
}

.quiz-card__bottom-bar {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  gap: var(--spacing-xs);
}

.quiz-card__questions{
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size-xs);
  color: var(--color-text-secondary);
  line-height: var(--line-height-md);
}

.quiz-card__button {
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-medium);
  line-height: var(--line-height-base);
  color: var(--color-primary);
  transition: opacity var(--transition-fast);
}

.quiz-card__button:hover{
  opacity:0.85
}

.quizzes__legal{
  text-align: center;
  margin-top:auto;
  align-self: flex-end;
  width:100%;
  padding-bottom: var(--spacing-3xl);
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  font-weight: var(--font-weight-normal);
  color: var(--color-text-secondary)
}

@media screen and (max-width: 1200px) {
  .quizzes{
    padding: var(--spacing-2xl) 0;
  }
  .quizzes__grid {
    grid-template-columns: repeat(2, 1fr);
    gap: var(--grid-gutter-tablet);
  }

  .quizzes__legal{
    display:none;
  }
}

@media screen and (max-width: 767px) {
  .quizzes {
    padding: var(--spacing-lg) 0;
  }

  .quizzes__title{
    margin-bottom: var(--spacing-base)
  }

  .quizzes__grid {
    grid-template-columns: 1fr;
    gap: var(--grid-gutter-mobile);
  }

  .quiz-card {
    padding: var(--spacing-base);
  }

  .quizzes__empty-title{
    font-size: var(--font-size-h2);
    font-weight: var(--font-weight-semibold);
  }

  .quizzes__empty-button{
    position:absolute;
    bottom: var(--spacing-2xl);
    left:50%;
    transform: translateX(-50%);
    width:79%;
  }
}